/*グローバルナビ*/
#globalnav .nav-link{
  font-size: 20px;
}
#globalnav ul{
  max-width: 1024px;
}

/*メインエリア*/
#main{
  max-width: 1024px;
  margin: auto;
  display: flex;
}

#main .topimg{
  margin-top: 56px;
}

/*サイドバー*/
#side{
  max-width: 392px;
  /*max-width: 240px;*/
  padding: 0px 76px 0px 76px;
    margin-top: 56px;
}

#side h3{
  margin-top: 24px;
}
#side h4{
  margin-top: 24px;
}

#side .profile_img{
  margin: auto;
}
#side img{
  border-radius: 50%;
}

/*サイドバーのコンテンツ*/
.side-content{
  width: 240px;
}
.top-heading{
  margin-top: 0px !important;
}

/*コンテンツ・ニュース記事のサイドバーRecentry*/
.recentry li{
  list-style: none;
  border-bottom: solid 1px #c7b299;
  padding-top: 6px;
}

.recentry ul{
  padding-left: 0px;
}

/*コンテンツ記事のサイドバーのタグ*/
.tag ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tag ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.tag ul li a{
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #c7b299;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;/*空白の取り扱い方。詰めるor改行などが指定できる。nowrapは「詰める＆改行しない」という指定*/
  text-overflow: ellipsis;/*文字数が長い場合は...で省略*/
  overflow: hidden;/*要素の内容（文字数等）が多すぎた場合の扱い方。隠したりスクロールしたり*/
  color: #333;
  font-size: 13px;
  text-decoration: none;
  transition: .2s;/*アニメーションの速度指定*/
}

.tag ul li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

/*コンテンツエリアのスタイル*/
.content{
  /*max-width: 632px;*/
  max-width: 784px;
}

.content p{
  padding: 10px 0px 10px 0px;
}

.content h2{
/*padding-left:16px;*/
  padding-right:16px;
  margin-top: 16px;
}
.content h3{
  padding-left:16px;
  padding-right:16px;
  margin-top: 16px;
}

/*コンテンツエリアのニュース記事部分のスタイル*/
.news-area{
  max-width: 608px;
  margin-left: 76px;
}

.content-area{
  max-width: 608px;
  margin-left: 76px;
}

/*プロフィールページのスタイル*/
.profile{
  max-width: 720px;
  margin: auto;
}

.profile p{
  white-space: pre-wrap;
}

.profile_img{
  margin-bottom: 32px;
}
.prof-header{
  padding-top: 24px;
  border-bottom:1px solid #c7b299;
}

/*コンテンツページのメインイメージ*/
.mainimg {
  margin-bottom: 58px;
}

/*コンテンツページ下部のサブイメージ*/
.sub_img{
  display: flex;
  justify-content: space-between;
  padding-left:110px;
  padding-right:110px;
}

.recommend{
  display: flex;
  justify-content: space-between;
  padding-left:100px;
  padding-right:100px;
  margin-bottom: 32px;
}

.col{
  margin-top: 54px;
}

/*ニュース一覧ページのスタイル*/
#news{
  max-width: 820px;
  margin: auto;
}
.news-content{
  display: flex;
}
.news-img{
  margin: 16px 32px 16px 32px;
}
.news-summary{
  max-width: 360px;
  max-height: 240px;
  margin: 16px 0px 16px 0px;
  padding: 0px 16px 0px 16px;
  text-overflow: ellipsis;/*文字数が長い場合は...で省略*/
  overflow: hidden;/*要素の内容（文字数等）が多すぎた場合の扱い方。隠したりスクロールしたり*/
}

footer{
  margin-top: 56px;
}

@media screen and (min-width:560px) and (max-width:959px){
/*画面サイズが560〜959pxまではこのレイアウトを適用（タブレット）*/

img{
  max-width: 100%;
  height: auto;
}

}

@media screen and (min-width:320px) and (max-width:559px){
  /*画面サイズが320〜559pxまではここのレイアウトを適用（スマホ）*/
  img{
    max-width: 100%;
    height: auto;
  }
  .news-img{
    max-width: 100%;
    height: auto;
  }
  .row{
    display: block!important;
  }

/*プロフィールページの左右余白*/
  .profile{
    margin: 0px 16px;
  }


}
